.button {
    background-color:white;
    border: none;
    border-radius:10px;
    border-bottom:2px solid transparent;
    box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0);
    color: rgba(0,0,0,11);
    cursor: pointer;
    display: inline-block;
    flex: 1;
    font-family:'Poppins';
    font-size: 2em;
    font-weight: 400 !important;
    height: 150px;
    letter-spacing:-2px;
    line-height: 1.5;
    position:relative;
    text-align: center;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 1);
    transition: .3s;
    width: 150px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin:6px;
}

.back {
    position:fixed;
    top:30px;
    right:30px;
    z-index:999;
    box-shadow:0px 0px 10px rgba(0,0,0,0.1)
}


.button:hover {
    transform: translate(0px, -5px);
    transition: .3s;
}

.blue:hover{
    border-color: #2196F3;
    box-shadow: 0px 10px 15px -10px #2196F3,
                0px 10px 20px -10px rgba(0,0,0,.4);
    /* color:#2196F3; */
}
.pink:hover{
    border-color: #E91E63;
    box-shadow: 0px 10px 15px -10px #E91E63,
                0px 10px 20px -10px rgba(0,0,0,.4);
    /* color:#E91E63; */
}
.orange:hover{
    border-color: #FF5722;

    box-shadow: 0px 10px 15px -10px #FF5722,
                0px 10px 20px -10px rgba(0,0,0,.4);
}

.purple:hover{
    border-color: #9C27B0;
    box-shadow: 0px 10px 15px -10px #9C27B0,
                0px 10px 20px -10px rgba(0,0,0,.4);
    /* color:#2196F3; */
}
.ltblue:hover{
    border-color: #03A9F4;
    box-shadow: 0px 10px 15px -10px #03A9F4,
                0px 10px 20px -10px rgba(0,0,0,.4);
    /* color:#E91E63; */
}

.back:hover{
    border-color: #8BC34A;
    box-shadow: 0px 10px 15px -10px #8BC34A,
                0px 10px 20px -10px rgba(0,0,0,.4);       
}

.blue:after{
    background-color:#2196F3;
}

.pink:after{
    background-color:#E91E63;
}

.orange:after{
    background-color:#FF5722;
}

.ltblue:after{
    background-color:#03A9F4;
}

.purple:after{
    background-color:#9C27B0;
}

:is(.purple, .ltblue,.pink,.orange,.blue,.back):after {
    position:absolute;
    content:'';
    width:20%;
    height:3px;
    border-radius:1px;
    top:100%;
    left:50%;
    transition:.3s;
    transform:translate(-50%, -50%)
}

:is(.purple, .ltblue,.pink,.orange,.blue,.back):hover:after{
    width:90%;
    background-color:transparent;
    transition:.3s
}

.buttonDivider {
    margin: -2px;
}

@media only screen and (max-width:800px) {
    .button {
        font-size: 2em;
        min-width: 80%;
        height: 90px;
        margin-bottom:10px;
        /* text-align:left */
    }

    .back {
        min-width:20%;
    }

    :is(.purple, .ltblue,.pink,.orange,.blue,.back):after{
        top:100%;
        width:20%;
        height:2px;
    }
}


/* @media only screen and (max-width:800px) {
    .button {
        font-size: 10px;
        padding: 10px 20px;
        margin: 0px;
    }
} */