.choiceParent {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - 100px);
    margin: -6vw;
    margin-left:200px;
    margin-bottom:100px;
}

.choice h2 {
    letter-spacing:-2px;
    margin:200px 200px 50px 200px;
}

.choice h3 {
    margin-left:200px;
}

.nav-blurb {
    font-size: calc(6px + 1vh);
    height:200px;
}

@media only screen and (max-width:800px) {
    .choiceParent {
        margin-left:50px;
        display:block;
    }

    .nav-blurb {
        font-size: calc(6px + 1vh);
        height:240px

    }

    .choice h2 {
        margin:200px 50px 50px 50px;
    }
    .choice h3 {
        margin-left:50px;
        margin-right:50px;
    }
}

@media only screen and (max-width:600px) {
    .nav-blurb {
        font-size: calc(6px + 1vh);
        height:290px
    }

}

.choice {
    padding:20px;
}

.blue-text{
    color:#2196F3;
    text-shadow:0px 0px 1px #2196F3
}
.pink-text{
    color:#E91E63;
    text-shadow:0px 0px 1px #E91E63
}
.orange-text{
    color:#FF5722;
    text-shadow:0px 0px 1px #FF5722
}