.footer h3,
.footer h2,
.footer p,
.footer a {
  line-height: 2;
  letter-spacing:0px;
  margin: 0px !important;
  color:white;
}

.footer h2 {
  font-size: calc(8px + 1.5vh);
}
.footer h3 {
  font-size: calc(8px + .5vh);
}

.footer {
    padding:100px 0px;
    display:flex;
    background-color:#232b3a;
    width:100%;
}

.footer div {
    width:50%;
    min-width:200px;
    margin-left:100px
}

.footer:first-child {
    flex:1;
    margin-right:20px;
}

footer:nth-child(2) {
    flex:3;
}

.footer div div img {
    border-radius:100%;
    width:100px;
    margin-right:20px;
    margin-top:15px
}

.footer p,
.footer a {
  border-bottom: 1px solid transparent;
  color: rgba(255, 255, 255 0.5);
  font-size: .7rem;
  padding-bottom: 2px;
  text-decoration: none;
  text-shadow: 0px 0px 1px rgba(255, 255, 255 0.5);

}

.footer p:hover,
.footer a:hover {
    border-color:2196F3;
    text-shadow: 0px 0px 1px rgba(255, 255, 255 1);
    color:white;
}


@media only screen and (max-width:800px) {
    .footer div {
        /* margin:0px 70px 70px 70px; */
        margin-left:50px;
       }
       
}