.footer h3,
.footer h2,
.footer p,
.footer a {
  line-height: 2;
  letter-spacing:0px;
  margin: 0px !important;
}

.footer h2 {
  font-size: calc(8px + 1.5vh);
}
.footer h3 {
  font-size: calc(8px + .5vh);
}

.footer {
    margin:0px 200px 200px 200px;
    display:flex;
}

.footer:first-child {
    flex:1;
    margin-right:20px;
}

footer:nth-child(2) {
    flex:3;
}

.footer div img {
    border-radius:100%;
    width:100px;
    margin-right:20px;
    margin-top:15px
}

.footer p,
.footer a {
  border-bottom: 1px solid transparent;
  color: rgba(0, 0, 0, 0.5);
  font-size: .7rem;
  padding-bottom: 2px;
  text-decoration: none;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);

}

.footer p:hover,
.footer a:hover {
    border-color:black;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 1);
    color:black;
}


@media only screen and (max-width:800px) {
    .footer {
        margin:0px 70px 70px 70px;
       }
       
}