html {
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif
}

h1, h2, h3, p {
  text-shadow: 0px 0px 1px rgba(0,0,0,1);
}

h1,h2,h3 {
  letter-spacing:-2px;
}

::-webkit-scrollbar {
  background: transparent;
  width: 0px;
}

iframe {
  width: 100%;
  margin: auto;
  min-height: 800px;
  border: none;
  background-color: black;
  content: 'Hosted on Heroku, and may take a minute load'
}

body {
  margin: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Poppins', sans-serif
}

.cv {
  margin-bottom: 200px;
  width: 100%;
}

.cv iframe {
  background-color: transparent;
  width: 100%;
  height: 70vw;
  position: relative;
  border: none;
  background-color: transparent;
}

.background {
  background-color:white;
}

/* .background {
  background-color: #681370;
  background-size: cover;
  background-position: 100% 60%;
  background-attachment: fixed;
  min-height: 100vh;
  position: absolute;
  width: 100vw;
  margin: 0px;
  overflow: hidden;
  animation-name: example;
  animation-duration: 105s;
  -webkit-animation-direction:alternate-reverse;
  animation-iteration-count: infinite;
}

@keyframes example {
  0% {
    background-color: #00A7FF;
  }

  25% {
    background-color: #3F51B5;
  }

  50% {
    background-color: #673AB7;
  }

  75% {
    background-color: #9C27B0;
  }

  100% {
    background-color: #E91E63;
  }
} */

.mainpage {
  padding: 6vw;
  margin: 0px;
  display: flex;
  position:relative;
  min-height:100vh;
}

.footer {
  position: absolute;
  bottom: 2vw;
  left: 6vw;
}

.mainpage h1 {
  color: black;
  font-size: calc(26px + 6.5vh);
  font-style: normal;
  font-weight: 100;
  line-height: 1;
  margin-top: 0px;
  margin-bottom: 10px;
}

.mainpage h2 {
  color: black;
  display: inline-block;
  font-size: 3em;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 2px;
  position: relative;
  margin-top:50px;
  margin-bottom:30px;
}

.mainpage h3 {
  color: black;
  font-size: 2em;
  font-style: normal;
  font-weight: 400;
  display: inline-block;
  margin-top: 100px;
  margin-bottom: 40px;
}

p {
  color: black;
  margin: 0px;
  font-size: .9rem;
}

.footer p,
.footer a {
  border-bottom: 1px solid transparent;
  color: rgba(0, 0, 0, 0.5);
  font-size: .7rem;
  padding-bottom: 2px;
  text-decoration: none;
}

a {
  transition: .3s;
}

a:hover {
  color: rgba(0, 0, 0, 1);
  border-color: black;
  transition: .3s;
}

.footer h3,
.footer h2,
.footer p,
.footer a {
  line-height: 2;
  letter-spacing:0px;
  margin: 0px !important;
}

.footer h2 {
  font-size: calc(8px + 1.5vh);
}
.footer h3 {
  font-size: calc(8px + .5vh);
}

.spread h3 {
  margin-top:-20px;
}

.choiceParent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  position: absolute;
  bottom: 50%;
  width: 100%;
  margin: -6vw;
}

.button {
  color: black;
  cursor: pointer;
  display: inline-block;
  flex: 1;
  font-size: 12px;
  font-weight: 700 !important;
  text-transform: uppercase;
  letter-spacing: 2px;
  height: 15px;
  line-height: 1.5;
  padding: 15px 30px;
  text-align: center;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);
  width: 150px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.menuButton {
  position: absolute;
  right: 6vw;
  top: 6vw;
  user-select: none;
  margin-top: -20px;
}

.buttonDivider {
  margin: -2px;
}

.portfolioNav {
  position: absolute;
  right: 6vw;
  top:200px;
}

.white,
.menuButton {
  background-color: transparent;
  border: 2px solid black;
}

.white:hover,
.menubutton:hover {
  background-color: black;
  color: white;
}

.languages {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.languageschild {
  color: black;
  flex: 1;
  font-size: 20px;
  display: inline-block;
  margin: 20px;
  min-width: 400px;
  margin-bottom: 50px;
}

.languageschild img {
  float: left;
  margin-right: 20px;
  width: 40px;
}

.languageschild div {
  color: black;
  flex: 1;
  text-transform: initial;
  font-size: 16px;
  font-weight: 400;
  line-height: 2;
  margin: 40px 0px;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, .5), 0px 0px 1px rgba(49, 37, 37, 0.001);
}

.languageschild h2{
  margin-top:0px;
}

.spread-parent {
  display: flex;
  flex-wrap: wrap;
}

.spread {
  min-height: 800px;
  min-width: 600px;
  max-width: 600px;
  margin: 100px auto;
  position: relative;
  flex: 1;
}

.spread img {
  max-height: 400px;
  max-width: 400px;
  transition: .3s;
  position: absolute;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.spread :nth-child(2) {
  transform: rotate(2deg);
  left: 5vw;
  top: 80px;
}

.spread :nth-child(3) {
  transform: rotate(-15deg) scale(1.1);
  left: 20vw;
  top: 250px;
}

.spread :nth-child(4) {
  transform: rotate(20deg);
  left: 10vw;
  top: 450px;
}

.spread :nth-child(5) {
  transform: rotate(20deg);
  left: 10vw;
  top: 450px;
}

.spread :nth-child(6) {
  transform: rotate(20deg);
  left: 10vw;
  top: 450px;
}

.spread img:hover~.spread img {
  border: solid 4px blue;
}

.web-development-parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.apps .web-development {
  flex: 1;
  width: 100%;
  min-width: 400px;
  min-height: 400px;
  margin: 100px 30px;
}

.pages .web-development {
  flex: 1;
  width: 100%;
  min-width: 800px;
  min-height: 400px;
  margin: 100px 30px;
}

.pages h2,.apps h2 {
  font-size:1.2em;
  margin-top:20px;
  margin-bottom:20px;
  padding-bottom:10px;
  display:block;
  width:100%;
  position:relative;
  transition:.3s;

}

.pages h2:after,.apps h2:after {
  content:"";
  width:0%;
  height:3px;
  background-color:black;
  position:absolute;
  top:30px;
  left:0;
  transition:.3s;
}
.pages h2:hover:after,.apps h2:hover:after{
  content:"";
  width:100%;
  height:3px;
  background-color:black;
  position:absolute;
  top:30px;
  left:0;
  transition:.3s;
}


.pages h3,.apps h3 {
  font-size:1.2em;
  margin-top:20px;
  margin-left:20px;
  margin-bottom:20px;
  padding-bottom:10px;
  display:block;
}


@media only screen and (max-width:1300px) {
  .languages {
    min-height:150vh;
  }
}


@media only screen and (max-width:800px) {
  .mainpage h1 {
    font-size: calc(26px + 2.5vh)
  }

  .nav-blurb {
    font-size: calc(6px + 1vh);

  }

  .mainpage h2 {
    /* font-size: calc(8px + 1.5vh) */
  }

  .mainpage h3 {
    /* font-size: calc(6px + 1vh); */
  }

  .button {
    font-size: 10px;
    padding: 10px 20px;
    margin:0px;
  }

  .apps .web-development {
    width: 100%;
    min-width: 400px;
    min-height: 400px;
    margin: 0px
  }
  
  .pages .web-development {
    width: 100%;
    min-width: 400px;
    min-height: 400px;
    margin: 0px;
  }
    
  .choiceParent {
    display: block;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    position: absolute;
    bottom: 50%;
    left:50%;
    transform:translate(-50%, 0%);
    width: unset;
    margin: -6vw;
  }

  .languages {
    min-height:200vh;
  }

  .portfolioNav {
    top:100px;
  }
}


/* div {
  border: solid black
} */